label{
	cursor: pointer;
}

.twitter-typeahead{
	width: 100%;
}

.tt-menu{
	background: white;
	border-radius: 4px;
	border: 1px solid gray;
	margin-top: 10px;
	max-height: 200px;
	overflow-y: auto;
	width: 100%;
	text-align: left;
}

.tt-suggestion{
	padding: 5px 10px;
}

.tt-suggestion.tt-cursor{
	color: white;
	background: #0097cf;
}

.form-control{
	text-transform: uppercase;
}
